{% if good.id %}
    <h2>Редактировать товар</h2>
{% else %}
    <h2>Добавить товар</h2>
{% endif %}
<form enctype='multipart/form-data' method='post' action='/personal/savegood?id={{ good.id }}'>
    <input type='text' placeholder='наименование товара' name='name' value='{{ good.name }}' class='field'><br><br>
    <input type='text' placeholder='цена товара' name='price' value='{{ good.price }}' class='field'><br><br>
    <textarea placeholder='описание товара' name='info' class='field'>{{ good.info }}</textarea><br><br>
    {% if not good.id %}
       <div class='hint'>можно выбрать несколько фото</div>
       <input type='file' name='userfile[]' multiple class='field'><br><br>
    {% endif %}
    <input type='submit' name='save' class='field'>
</form>

