{% extends 'layouts/main.twig' %}

{% block title %}
    Главная страница
{% endblock %}

{% block content %}
    <h1>Главная страница</h1>

    Admin: login: <b>123123@123.ru</b> , password: <b>123123</b><br>
    login: <b>333@333.ru</b> , password: <b>123456</b><br>
    login: <b>456@456.ru</b> , password: <b>456456</b><br>
    login: <b>777@777.ru</b> , password: <b>789789</b><br>
{% endblock %}