* {
	font-family: Arial, Tahoma;
	margin: 0;
	padding: 0;
}

body {
	padding: 10px;
}


.footer {
	height: 80px;
}

.t404 {
	text-align: center;
	margin: 100px;
}




.menu {
	margin: 30px 0;
	display: flex;
	align-items: center;
	justify-content: space-around;
	list-style-type: none;
}
.menu_link {
	font-size: 20px;
	color: #000;
	text-decoration: none;
}
.menu_li__personal_area {
	position: relative;
}
.menu__private_name_link {
   font-size: 20px;
   color: #0090c0;
   text-decoration: none;
   position: absolute;
   top: -20px;
   right: -50px;
}






.private_content {
	display: flex;
	align-items: flex-start;
}
.private_menu {
	list-style-type: none;
	margin: 0;
}
.private_menu_link {
	font-size: 20px;
	color: #0090c0;
	text-decoration: none;
}
.private_name {
	font-size: 20px;
	color: #999;
}
.private_column_left {
	padding: 0 100px 0 20px;
	width: 250px;
}
.private_column_right {
	padding: 0;
	width: 100%;
}
.admin_link {
	font-size: 12px;
	color: #0090c0;
}






h1 {
	margin: 50px 0 30px 0;
	font-size: 25px;
}
h2 {
	margin: 0 0 30px 0;
	font-size: 25px;
}



.text {
	font-size: 20px;
}
.result {
	font-size: 30px;
	margin: 30px 0;
}
.form {
	font-size: 30px;
}
.field {
	font-size: 20px;
	padding: 10px;
}
.hint {
	font-size: 20px;
	color: #777
	margin: 20px 0 0 0;
}
.error {
	font-size: 20px;
	padding: 10px;
	margin: 30px 0 0 0;
	text-align: center;
}



.product_one {
	margin: 20px 0;
}
.product_img_div {
	margin: 20px 0;
	display: flex;
	align-items: center;
}
.product_name {
	margin: 20px 0;
	font-size: 20px;
}
.product_price {
	margin: 20px 0;
	font-size: 20px;
}
.product_description {
	margin: 20px 0;
	font-size: 20px;
}
.comment {
	font-size: 20px;
	margin: 20px 0;
}
.comments {
	font-size: 20px;
	margin: 20px 0;
}



.small_img {
	height: 150px;
	margin: 10px;
}
.big_img {
	width: 500px;
	margin: 10px;
}



.addtocart_link {
	display: table;
	font-size: 25px;
	padding: 20px 35px;
	margin: 35px 0;
	background-color: #555;
	color: #fff;
	text-decoration: none;
	font-weight: bold;
}



.addtocart_link_catalog {
	display: inline-block;
	font-size: 15px;
	padding: 10px 15px;
	margin: 12px 0 10px 0;
	background-color: #555;
	color: #fff;
	text-decoration: none;2
}





.catalog {
	display: flex;
	align-items: flex-start;
}
.catalog_item_wrapper {
	margin: 10px;
	padding: 10px;
	border: 1px solid #cccccc;
	text-align: center;
}
.catalog_item {
	margin: 10px;
	padding: 10px;
	border: 1px solid #cccccc;
	text-align: center;
}
.catalog_name_link {
	font-size: 15px;
	color: #000;
}
.catalog_price {
	font-size: 15px;
}
.delete_link {
	font-size: 10px;
	color: #000;
}


.catalog_details {
	font-size: 12px;
	margin: 8px 0 0 0;
}
.paginator {
	margin: 30px 0 50px 0;
}



.cart {
	width: 90%;
	font-size: 20px;
}
.cart_product {
	width: 310px;
	margin: 10px;
	padding: 10px;
	border: 1px solid #cccccc;
	text-align: center;

}
.cart_img {
	width: 120px;
	margin: 10px;
}
.cart_input {
	font-size: 20px;
	padding: 5px;
	width: 50px;
	text-align: center;
}
.cart_submit {
	font-size: 20px;
	padding: 15px 25px;
	cursor: pointer;
}
.order_submit {
	font-size: 20px;
	padding: 15px 25px;
	cursor: pointer;
	color: #fff;
	background-color: #333;
}
.totalPrice {
	text-align: right;
	font-size: 25px;
	padding: 10px 15px;
}

.cart_bottom {
	display: flex;
	justify-content: space-between;
	padding: 10px 15px;
}
.tar {
	text-align: right;
}
.w70p {
	width: 70%;
}
.w60p {
	width: 60%;
}
.w310px {
	width: 310px;
}


.page_link {
	text-decoration: none;
	border: 1px solid #999;
	padding: 7px;
	color: #000;
	margin: 10px;
}
.page_link_active {
	text-decoration: none;
	border: 1px solid #999;
	padding: 7px;
	color: #fff;
	background-color: #333;
	margin: 10px;
}



.catalog_order {

}
.catalog_order_item {
	margin: 10px;
	padding: 10px;
	border: 1px solid #cccccc;
	width: 310px;
}
.order_status {
	font-size: 15px;
}

